<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>g_skfly_phone_name</key>
	<string>粉色机卡分离_0.70_i6p</string>
	<key>g_skfly_udid</key>
	<string>dbf55de9aad52937b228b2b80a055747c35e9c75</string>
</dict>
</plist>
