Package: com.nablac0d3.sslkillswitch2
Name: SSL Kill Switch 2
Depends: mobilesubstrate, preferenceloader
Version: 0.13
Architecture: iphoneos-arm
Description: 
Maintainer: 魏鹏飞 <491328576@qq.com>
Author: 魏鹏飞<491328576@qq.com>
Section: Tweaks
